# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# Packer
packer_cache/
*.box

# Environment variables
.env
*.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
